nav {
  width: 70vw;
  margin-left: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#projects-list-container {
  width: 50vw;
  margin-left: 22vw;
}

.project {
  background-color: lightgray;
  border-radius: 1vh;
  padding-top: 0.2vh;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
  position: relative;
  transition: all ease-in 150ms;
}

.project:hover {
  cursor: pointer;
  background-color: #c2c1c1;
  border-radius: 1vh;
  transform: scale(1.1, 1.1);
}

#create-project {
  text-decoration: none;
  background-color: #535252;
  padding: 1vh;
  border-radius: 1vh;
  color: white;
}

.project > a {
  text-decoration: none;
  color: black;
}

.delete-button {
  position: absolute;
  top: 18%;
  right: 10%;
  transform: scale(1.5, 1.5);
}

.delete-button i {
  color: darkslategray;
}
